<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Capacisoft</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.password">1116291</property>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Usuario.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/TipoCuenta.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Zona.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Competencia.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Adscripcion.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Aspecto.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Proveedor.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Municipio.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Plantel.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Respuesta.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/TipoProveedor.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Alerta.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Encuesta.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/ImplementacionEventoEnunciadoLogistica.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/EnunciadoLogistica.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Puesto.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Evento.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/TipoEnunciado.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Sede.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/ImplementacionEvento.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/TipoEvento.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Departamento.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Empleado.hbm.xml"/>
    <mapping resource="mx/edu/cobach/persistencia/entidades/Direccion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
